.form {
  // display: block;
  // flex-direction: column;
  // justify-content: flex-start;
  // width: 570px;
  // height: 90px;
  // margin-top: 12px;

  &-title {
    font-style: normal;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $fons-color;
    margin-bottom: 14px;
  }
  // &-subscribe {
  //   display: flex;
  // }
  &-mail {
    // width: 358px;
    // height: 50px;
    padding-left: 16px;
    margin-right: 0px;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
  }
  &-btm {
    // display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: $fons-color;
    background-color: $accent-color;
    // width: 200px;
    // height: 50px;
    margin-left: 12px;
    border-radius: 4px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    border: transparent;
    outline: transparent;
  }
  &-btm::after {
    content: "";
    // display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    margin-left: 10px;

    background-image: url(/images/icon-send.svg);
  }
}
