.form {
  display: block;
  align-items: center;
  justify-content: center;
  // width: 450px;
  // height: 156px;
  margin-top: 60px;
  @media screen and (min-width: 1600px) {
    width: 570px;
    height: 86px;
    margin-left: 93px;
    display: block;
    flex-wrap: wrap;
    margin-top: 0px;
  }

  &-title {
    text-align: center;
    font-style: normal;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $fons-color;
    margin-bottom: 14px;
    @media screen and (min-width: 1600px) {
      width: 219px;
      height: 16px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  &-subscribe {
    width: 450px;
    height: 156px;

    @media screen and (min-width: 1600px) {
      display: flex;
      width: 500px;
      height: 40px;
    }
  }
  &-mail {
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 50px;

    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;

    @media screen and (min-width: 1600px) {
      width: 358px;
      height: 50px;
    }
  }
  &-btm {
    text-align: center;

    letter-spacing: 0.06em;
    margin-top: 20px;
    margin-left: 130px;

    color: $fons-color;
    background-color: $accent-color;
    width: 200px;
    height: 50px;

    border-radius: 4px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    border: transparent;
    outline: transparent;

    @media screen and (min-width: 1600px) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 12px;
      margin-top: 0px;
    }
  }
  &-btm::after {
    content: "";
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    margin-left: 10px;

    background-image: url(/images/icon-send.svg);
  }
}
