.join-icons {
  display: flex;
  align-items: center;
  justify-content: center;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }
  &__item {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px;
    border-radius: 50%;
  }
  &__item :hover {
    background: #2196f3;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon {
    width: 20px;
    height: 20px;
    fill: $fons-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon :hover {
    fill: $fons-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
