.modal {
  position: absolute;

  width: 450px;
  height: 609px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.btm-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  outline: transparent;
}
.btm-close-icon {
  width: 11px;
  height: 11px;
  left: 0px;
  bottom: 0px;
  background-position: center;
  fill: #000000;
}
.btm-close:hover > .btm-close-icon {
  fill: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form {
  display: block;
  width: 450px;
  height: 609px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 12px;
}
textarea {
  resize: none;
}
.form-fild {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}
.form-fild-label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  color: #757575;
}
.form-fild-icon {
  position: absolute;
  top: 30%;
  left: 5%;
  transform: translate(-30%, -5%);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2f303a;
}
.form-fild-coment {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
}
.form-fild-input {
  width: 370px;
  height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-fild-icon-input {
  position: relative;
}
.form-fild-input:focus {
  border: 1px solid #2196f3;
}
.form-fild-icon-input:focus-within > .form-fild-icon {
  fill: #2196f3;
}
.form-fild-coment {
  display: flex;
  flex-direction: column;

  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  outline: transparent;
}
.form-fild-coment:focus {
  border: 1px solid #2196f3;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.placeholder {
  width: 416px;
  height: 96px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.modal-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: #757575;
  margin-top: 20px;
  margin-bottom: 30px;
}
.checkbox {
  margin-right: 9px;
}
.form-polisy {
  width: 370px;
  height: 15px;
}
.modal-btm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;

  width: 200px;
  height: 50px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  outline: transparent;
}
