$primery-text-color: #212121;
$accent-color: #2196f3;
$text-color: #757575;
$fons-color: #ffffff;
$footer-link-color: rgba(255, 255, 255, 0.6);
$svg-color: #757575;
$background-team-color: #f5f4fa;
$fill-color: #afb1b8;
