.doing {
  display: none;
  padding-top: 0px;
  margin-bottom: 94px;
}
.doing-list {
  // display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.doing-item {
  width: calc((100% - 30px x 2) / 3);
  margin: 0px;
  position: relative;
}
.doing-item:nth-child(3n) {
  margin: 0px;
}
.doing-item:nth-last-child(- n + 3) {
  margin: 0px;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.doing-item__text {
  // display: flex;
  justify-content: center;
  align-items: center;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 0.88;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $background-team-color;

  width: 370px;
  height: 70px;
  left: 0;
  bottom: 0;
  margin: 0;
  transform: translateY(-5%);
  background: rgba(47, 48, 58, 0.8);

  position: absolute;
}
