.featur-title {
  display: none;
}

.features-title {
  margin-bottom: 10px;

  color: $primery-text-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  // display: flex;
  // align-content: stretch;
  width: 270px;
  align-items: center;

  color: $text-color;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.features-item__icon {
  // width: 270px;

  background: #f5f4fa;
  border-radius: 4px;
  // display: flex;
  // display: block;
  // align-items: center;
  // justify-content: center;
  @media (min-width: 480px) {
    width: 450px;
    height: 120px;
    align-items: center;
    justify-content: center;
  }
}
.features-list {
  // display: flex;
  align-items: center;
  justify-content: center;
}
.features-text {
  flex-basis: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}
.features-text:nth-child(4n) {
  margin: 0;
}
.features-item:nth-last-child(- n + 4) {
  margin: 0px;
}
