.features {
  // padding-top: 90px;
  // padding-bottom: 90px;
  @media screen and (max-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.featur-title {
  @media screen and (max-width: 480px) {
    margin: 0px;
    padding: 0px;
    display: none;
  }
}
.features-list {
  @media screen and (max-width: 480px) {
  }
}
.features-title {
  // margin-bottom: 10px;

  // color: $primery-text-color;
  // font-weight: bold;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.03em;
  // text-transform: uppercase;

  @media screen and (max-width: 480px) {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primery-text-color;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
.features-text {
  // display: flex;
  // align-content: stretch;
  // width: 270px;
  // align-items: center;

  // color: $text-color;
  // font-weight: normal;
  // font-size: 14px;
  // line-height: 1.71;
  @media screen and (max-width: 480px) {
    width: 270px;
    height: 16px;
    display: block;
    align-items: center;
    justify-content: center;

    color: $text-color;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
  }
}
.features-icon {
  @media screen and (max-width: 480px) {
  }
}
.features-item__icon {
  // width: 270px;

  // background: #f5f4fa;
  // border-radius: 4px;
  // // display: flex;
  // display: block;
  // align-items: center;
  // justify-content: center;
  @media screen and (max-width: 480px) {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 450px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
  }
}
// .features-list {
//   // display: flex;
//   // align-items: center;
//   // justify-content: center;

// }
.features-text {
  // flex-basis: calc((100% - 30px * 3) / 4);
  // margin-right: 30px;
  @media screen and (max-width: 480px) {
    width: 450px;
    height: 50px;
    // .features-text:nth-child(4n) {
    //   margin: 0;
    // }
    // .features-item:nth-last-child(- n + 4) {
    //   margin: 0px;
    // }
  }
}
// .features-text:nth-child(4n) {
//   margin: 0;
// }
// .features-item:nth-last-child(- n + 4) {
//   margin: 0px;
// }
