.footer {
  display: block;
  justify-content: center;
  align-items: center;

  background-color: #2f303a;
  width: 480px;
  height: 603px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
}
.logo {
  width: 154px;
  padding-top: 54px;

  color: $fons-color;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
}
.address {
  justify-content: center;
  align-items: center;
  width: 232px;
  height: 79px;
  margin: 0px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
}
.footer-adress {
  width: 251px;
}
.address-text {
  margin-bottom: 8px;

  color: $fons-color;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
}
.footer-element {
  display: block;
}
.footer-adress a {
  padding-bottom: 9px;
}
.footer-link {
  color: $footer-link-color;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-align: center;
}
.join {
  display: block;

  width: 206px;
  height: 80px;
  margin-top: 60px;
}
.join-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;

  width: 145px;
}
