.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f303a;
  max-width: 1600px;
  max-height: 600px;

  height: 400px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/desctop-from-web/hero-480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desctop-from-web/hero-768.jpg);
  }
  @media screen and (min-width: 1600px) {
    width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desctop-from-web/hero-1600.jpg);
  }

  &-title {
    // margin-top: 0px;
    // margin-bottom: 0px;

    width: 360px;

    margin: auto;
    padding-bottom: 30px;
    color: $fons-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-align: center;
    @media screen and (min-width: 480px) {
      width: 360px;
    }

    @media screen and (min-width: 1600px) {
      width: 696px;
      height: 120px;
      margin-bottom: 30px;
      padding: 0px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}

.button {
  width: 200px;
  height: 50px;

  margin: 0px 140px;
  padding: 0px;
  border-radius: 4px;

  color: $fons-color;
  background: $accent-color;
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  font-family: inherit;
  border: transparent;
  outline: transparent;
}
