.hero {
  // background-color: #2f303a;
  // max-width: 1600px;

  // margin: auto;

  // background-image: linear-gradient(
  //     to right,
  //     rgba(47, 48, 58, 0.4),
  //     rgba(47, 48, 58, 0.4)
  //   ),
  //   url(../images/hero.jpg);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  width: 480px;
  height: 400px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/desctop-from-web/hero-480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (min-width: 480px) {
  }
  .hero-box {
    // padding-top: 200px;
    // padding-bottom: 200px;
    // letter-spacing: 0.06em;

    align-items: center;
    flex-direction: column;
    text-align: center;
    display: flex;
    width: 480px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    align-items: center;
    text-align: center;
    @media screen and (min-width: 480px) {
      width: 480px;
    }
  }
  .hero-title {
    // width: 360px;

    // margin-top: 0px;
    // margin-bottom: 0px;
    // align-items: center;

    // color: $fons-color;
    // font-weight: 900;
    // font-size: 44px;
    // line-height: 1.36;
    // text-transform: uppercase;
    width: 360px;
    height: 84px;
    margin-left: 50px;
    margin-right: 50px;

    color: $fons-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-transform: uppercase;
  }
}
.button {
  display: block;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;

  border-radius: 4px;

  color: $fons-color;
  background: $accent-color;
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  font-family: inherit;
  border: transparent;
  outline: transparent;
}
