.hero {
  display: flex;
  background-color: #2f303a;
  max-width: 1600px;
  max-height: 600px;
  margin: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-box {
  padding-top: 200px;
  padding-bottom: 200px;
  letter-spacing: 0.06em;

  align-items: center;
  flex-direction: column;
  text-align: center;
  display: flex;
}
.hero-title {
  width: 700px;
  height: 120px;
  margin-top: 0px;
  margin-bottom: 30px;
  align-items: center;

  color: $fons-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}
.button {
  width: 200px;
  height: 50px;
  border-radius: 4px;

  color: $fons-color;
  background: $accent-color;
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  font-family: inherit;
  border: transparent;
  outline: transparent;
}
