.team {
  background-color: $background-team-color;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (max-width: 480px) {
  }
}
// .team-list {
//   // display: flex;
//   // justify-content: space-between;
// }
.team-list__personal {
  // width: calc((100% - 30px x 3) / 4);
  width: 450px;
  height: 622px;
  margin-bottom: 30px;
  background-color: $fons-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and (max-width: 480px) {
  }
}
.imag-team {
  width: 100%;
}
.team-list__personal:nth-child(4n) {
  margin-right: 0px;
}
.team-list__personal:nth-last-child(- n + 4) {
  margin-right: 0px;
}
.team-list--naim {
  color: $primery-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list--work {
  color: $text-color;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
