.team {
  align-items: center;
  justify-content: center;
  width: 480px;
  background-color: $background-team-color;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
}
.team-list {
  display: block;
  align-items: center;
  justify-content: center;
  width: 450px;
}
.team-list__personal {
  // width: calc((100% - 30px x 3) / 4);
  width: 450px;
  margin-bottom: 30px;
  background-color: $fons-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  // @media screen and (max-width: 1600px) {
  //   width: calc((100% - 30px x 3) / 4);
  // }
}
.imag-team {
  width: 450px;
  height: 460px;
}
// .team-list__personal:nth-child(4n) {
//   margin-right: 0px;
// }
// .team-list__personal:nth-last-child(- n + 4) {
//   margin-right: 0px;
// }
.team-list--naim {
  color: $primery-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list--work {
  color: $text-color;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
